.meat {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 15px;
    border-radius: 15px;
}

.meat:hover {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

body {
    background-color: #ebebeb;
    width: auto;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: auto;
    width: 50%;
    height: 50%;
    vertical-align: middle;
}

.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;

}

.fish {
    background-image: url("img/fish.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.shrimp {
    background-image: url("img/shrimp.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.chicken {
    background-image: url("img/chicken.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.steak {
    background-image: url("img/steak.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
